header{
    background-color: #305496;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #bfbfbf;
}
#heading{
    padding-left:20px;
    padding-right: 5px;
    margin-top: 0px;
    padding-right: 0;
}
#logo{
    height: 40px;
    width: 40px;
    margin-top: 10px;
    padding-bottom: 0;
}
#menu_button{
    font-size: 16px;
    color: #bfbfbf;
}
#header-div{
    width: 80%;
    margin: auto;
}
.col_3 {
    width: 12%;
    float:inherit;
    display: inline-flex;
}
#table_item_name{
    text-align: left;
    padding-right: 100px;
}

#menu_button{
    padding-left: 750px;
}
#cart_button{
    padding-left: 800px;
    color: #bfbfbf;
}
.price{
    text-align: right;
}
h1{
    padding-left: 330px;
    font-weight: 300;
    padding-top: 20px;
}
#cart_heading{
    padding-top: 150px;
    padding-left: 90px;
}
#notification{
    text-align: center;
    font-size: 1.2em;
    color: green;
}
table{
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    border-spacing: 50px 30px;
    border-collapse: separate;
    text-align: center;
    padding-bottom: 7.5em;
}
.col_1{
    text-align: left;
    padding-right: 250px;
}
.table_c2{
    text-align: left;
}
.result_item{
    font-weight: bold;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #bfbfbf;
  text-align: left;
}