header{
    background-color: #305496;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #bfbfbf;
}
#heading{
    padding-left:20px;
    padding-right: 5px;
    margin-top: 0px;
    padding-right: 0;
}
#logo{
    height: 40px;
    width: 40px;
    margin-top: 10px;
    padding-bottom: 0;
}
#menu_button{
    font-size: 16px;
    padding-left: 750px;
    color: #bfbfbf;
}
#header-div{
    width: 80%;
    margin: auto;
}
.col_3 {
    width: 12%;
    float:inherit;
    display: inline-flex;
}
#cart_button{
    padding-left: 800px;
    color: #bfbfbf;
}
h2{
    padding-left: 160px;
    padding-top: 80px;
    padding-bottom: 30px; 
    font-weight: 300;
    font-size: 30px;
}
#status{
    padding-left: 160px;
    padding-top: 0px;
    padding-bottom: 50px;
    font-size: 25px;
    color: green;
}
#main_body{
    padding-bottom: 270px;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #bfbfbf;
  text-align: left;
}
